@charset "UTF 8"; 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Pacifico', cursive;

  --cor1: #B0DB43;
  --cor2: #34623F;
  --cor3: #001F54;
  --cor4: #533A71;
  --cor5: #DDC4DD;
}

* {
  margin: 0px;
  padding: 0px;
}
html {
  max-width:1502px;
}

header {
  background-color: var(--cor1);
  width: 100%;
  height: 20px;
  margin: 0px;
  padding: 17px;
}
div {
background-color: white;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
height: 70px;
}
nav>a {
  color: #454545;
  ;
  padding: 10px;
  text-decoration: none;
  font-weight: lighter;
}

nav>a:hover {
  color: gray;
}
.icone-do-header {
width: 1%;
margin-left: 100%;
display: inline;
}

main{
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  }
main h1, p {
  text-align: center;
  padding: 5px;
}
article > img {
  display: block;
  margin: auto;
  padding: 20px;
  }
  footer p {
    text-align: center;
  }