@charset "UTF 8"; 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Pacifico', cursive;

  --cor1: #B0DB43;
  --cor2:#34623F;
  --cor3:#001F54;
  --cor4:#533A71;
  --cor5:#DDC4DD;
}

* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: var(--cor1);
  width: 100%;
  height: 20px;
  margin: 0px;
  padding: 17px;
}

nav > a {
  color: #454545;;
  padding: 10px;
  text-decoration: none;
  font-weight: lighter;
}

nav > a:hover {
  color: gray;
}